Repository pulsate-dev/pulsate: changes, and which lefthook commands are due for each by the changed paths.
All: check:format, check:filename, lint

check:format:
  run: pnpm run format:check

check:filename:
  run: pnpm run check:filename

lint:
  run: pnpm run lint

docs: allow filename casing `lowercase`
  .github/CONTRIBUTING_JA.md
  CONTRIBUTING.md
Due: check:format, lint

docs: allow filename casing `lowercase` (#238)
  .github/CONTRIBUTING_JA.md
  CONTRIBUTING.md
Due: check:format, lint

DUMP CODES
  main.ts
  package.json
  pkg/accounts/service/fetchAccountFollow.ts
  pkg/notes/adaptor/repository/dummy.ts
  pkg/notes/model/repository.ts
  pkg/notes/service/fetch.ts
  pkg/timeline/adaptor/controller/timeline.ts
  pkg/timeline/adaptor/validator/schema.ts
  pkg/timeline/mod.ts
  pkg/timeline/router.ts
  pnpm-lock.yaml
Due: check:format, check:filename, lint

ci: bump `pnpm/action-setup` v2 to v3
  .github/workflows/ci.yaml
Due: none

ci: rename auto-assign pr
  .github/workflows/auto-assign-pr.yaml
Due: none

ci: add check pr title workflow
  .github/workflows/check-pr-title.yaml
Due: none

ci: Add workflow to check PR titles for conventional commit (#241)
  .github/workflows/auto-assign-pr.yaml
  .github/workflows/check-pr-title.yaml
Due: none

ci: bump `pnpm/action-setup` v2 to v3 (#240)
  .github/workflows/ci.yaml
Due: none

docs: fix contributing guide
  .github/CONTRIBUTING_JA.md
  CONTRIBUTING.md
Due: check:format, lint

docs: Remove remaining Deno content from Contributing Guide (#243)
  .github/CONTRIBUTING_JA.md
  CONTRIBUTING.md
Due: check:format, lint

feat: add `IDSchema<T>()`
  pkg/id/mod.test.ts
  pkg/id/mod.ts
Due: check:format, check:filename, lint

feat: add `AccountNameSchema`
  pkg/accounts/model/account.test.ts
  pkg/accounts/model/account.ts
Due: check:format, check:filename, lint

style: format
  pkg/accounts/model/account.test.ts
  pkg/id/mod.test.ts
Due: check:format, check:filename, lint

feat: add `FetchAccountFollowService`
  pkg/accounts/service/fetchAccountFollow.test.ts
  pkg/accounts/service/fetchAccountFollow.ts
Due: check:format, check:filename, lint

test: add longest patterns
  pkg/id/mod.test.ts
Due: check:format, check:filename, lint

refactor: move to inside of try block
  pkg/id/mod.ts
Due: check:format, check:filename, lint

fix: improve regexp
  pkg/accounts/model/account.ts
Due: check:format, check:filename, lint

test: add {,not-}punycode pattern
  pkg/accounts/model/account.test.ts
Due: check:format, check:filename, lint

refactor: improve somethings
  pkg/accounts/service/fetchAccountFollow.ts
Due: check:format, check:filename, lint

refactor: change prisma.schema to follow naming convention
  prisma/schema.prisma
Due: none

fix(repository): mismatches due to schema changes
  pkg/accounts/adaptor/repository/prisma.ts
Due: check:format, check:filename, lint

feat: add `serializeAccount`
  pkg/accounts/adaptor/serializer/mod.ts
Due: check:format, check:filename, lint

feat: add `serializeNote`
  pkg/notes/adaptor/serializer/mod.ts
Due: check:format, check:filename, lint

refactor: change prisma.schema to follow naming convention (#248)
  pkg/accounts/adaptor/repository/prisma.ts
  prisma/schema.prisma
Due: check:format, check:filename, lint

chore: remove outdated api docs
  docs/api.yaml
Due: none

refactor(accounts): rename service and model files
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/adaptor/repository/dummy.ts
  pkg/accounts/adaptor/repository/prisma.ts
  pkg/accounts/mod.ts
  pkg/accounts/model/followAccount.test.ts
  pkg/accounts/model/followAccount.ts
  pkg/accounts/model/repository.ts
  pkg/accounts/service/authenticateAccount.test.ts
  pkg/accounts/service/authenticateAccount.ts
  pkg/accounts/service/followAccount.test.ts
  pkg/accounts/service/followAccount.ts
  pkg/accounts/service/freezeAccount.test.ts
  pkg/accounts/service/freezeAccount.ts
  pkg/accounts/service/registerAccount.test.ts
  pkg/accounts/service/registerAccount.ts
  pkg/accounts/service/silenceAccount.test.ts
  pkg/accounts/service/silenceAccount.ts
  pkg/accounts/service/unfollowAccount.test.ts
  pkg/accounts/service/unfollowAccount.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
Due: check:format, check:filename, lint

refactor(accounts): rename class name of service
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/accounts/service/authenticateAccount.test.ts
  pkg/accounts/service/authenticateAccount.ts
  pkg/accounts/service/followAccount.test.ts
  pkg/accounts/service/followAccount.ts
  pkg/accounts/service/freezeAccount.test.ts
  pkg/accounts/service/freezeAccount.ts
  pkg/accounts/service/silenceAccount.test.ts
  pkg/accounts/service/silenceAccount.ts
  pkg/accounts/service/unfollowAccount.test.ts
  pkg/accounts/service/unfollowAccount.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
Due: check:format, check:filename, lint

refactor(notes): rename service files
  pkg/notes/adaptor/controller/note.ts
  pkg/notes/mod.ts
  pkg/notes/service/createNote.test.ts
  pkg/notes/service/createNote.ts
  pkg/notes/service/fetchNote.test.ts
  pkg/notes/service/fetchNote.ts
Due: check:format, check:filename, lint

chore: remove outdated api docs (#249)
  docs/api.yaml
Due: none

refactor(accounts): rename service and model files
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/adaptor/repository/dummy.ts
  pkg/accounts/mod.ts
  pkg/accounts/model/inactive.test.ts
  pkg/accounts/model/inactive.ts
  pkg/accounts/model/repository.ts
  pkg/accounts/service/edit.test.ts
  pkg/accounts/service/edit.ts
  pkg/accounts/service/fetch.test.ts
  pkg/accounts/service/fetch.ts
  pkg/accounts/service/register.test.ts
  pkg/accounts/service/register.ts
  pkg/accounts/service/resendToken.test.ts
  pkg/accounts/service/resendToken.ts
  pkg/accounts/service/verifyToken.test.ts
  pkg/accounts/service/verifyToken.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
Due: check:format, check:filename, lint

feat: add `FetchAccountFollowService` (#245)
  pkg/accounts/service/fetchAccountFollow.test.ts
  pkg/accounts/service/fetchAccountFollow.ts
Due: check:format, check:filename, lint

refactor(accounts): rename class name of service
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/accounts/service/authenticate.test.ts
  pkg/accounts/service/authenticate.ts
  pkg/accounts/service/edit.test.ts
  pkg/accounts/service/edit.ts
  pkg/accounts/service/fetch.test.ts
  pkg/accounts/service/fetch.ts
  pkg/accounts/service/register.test.ts
  pkg/accounts/service/register.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
Due: check:format, check:filename, lint

refactor(notes): rename class name of service
  pkg/notes/adaptor/controller/note.ts
  pkg/notes/mod.ts
  pkg/notes/service/create.test.ts
  pkg/notes/service/create.ts
  pkg/notes/service/fetch.test.ts
  pkg/notes/service/fetch.ts
Due: check:format, check:filename, lint

refactor: rename unfollowAccountService variables
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetchNote.test.ts
Due: check:format, check:filename, lint

chore(accounts/TokenVerifyService): rename to VerifyAccountTokenService
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/accounts/service/registerAccount.test.ts
  pkg/accounts/service/registerAccount.ts
  pkg/accounts/service/resendToken.test.ts
  pkg/accounts/service/resendToken.ts
  pkg/accounts/service/verifyAccountToken.test.ts
  pkg/accounts/service/verifyAccountToken.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetchNote.test.ts
Due: check:format, check:filename, lint

chore(accounts/service/verifyToken): rename class name to VerifyTokenService
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/accounts/service/register.test.ts
  pkg/accounts/service/register.ts
  pkg/accounts/service/resendToken.test.ts
  pkg/accounts/service/resendToken.ts
  pkg/accounts/service/verifyToken.test.ts
  pkg/accounts/service/verifyToken.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
Due: check:format, check:filename, lint

chore(notes/service/fetch.test): add import alias to specify module name
  pkg/notes/service/fetch.test.ts
Due: check:format, check:filename, lint

ci: add comment pr step
  .github/workflows/check-pr-title.yaml
Due: none

ci: add comment pr step (#252)
  .github/workflows/check-pr-title.yaml
Due: none

Path conditions:
  check:format: any of: *.{js,ts,md}
  check:filename: any of: *.{js,ts}
  lint: any of: *.{js,ts,md}
