Repository pulsate-dev/pulsate: changes, and which lefthook commands are due for each by the changed paths.
All: check:format, check:filename, lint

check:format:
  run: pnpm run format:check

check:filename:
  run: pnpm run check:filename

lint:
  run: pnpm run lint

docs: remove ja version
  .github/CODEOWNERS
  .github/CONTRIBUTING_JA.md
  .github/SECURITY_JA.md
  CONTRIBUTING.md
  SECURITY.md
Due: check:format, lint

docs: remove japanese version (#308)
  .github/CODEOWNERS
  .github/CONTRIBUTING_JA.md
  .github/SECURITY_JA.md
  CONTRIBUTING.md
  SECURITY.md
Due: check:format, lint

ci: fix pnpm version issue
  .github/workflows/ci.yaml
Due: none

ci: fix pnpm version issue (#315)
  .github/workflows/ci.yaml
Due: none

feat: use hono rpc mode in intermodule interfaces
  package.json
  pkg/accounts/mod.ts
  pkg/intermodule/account.ts
Due: check:format, check:filename, lint

fix: revert hono package version
  package.json
Due: none

fix: move AccountModuleHandlerType
  pkg/accounts/mod.ts
  pkg/intermodule/account.ts
Due: check:format, check:filename, lint

fix(notes/model/repository): BookmarkRepositoryの型定義を修正
  pkg/notes/model/repository.ts
Due: check:format, check:filename, lint

fix(notes/adaptor/repository/dummy): 型定義に合わせて実装を修正
  pkg/notes/adaptor/repository/dummy.ts
Due: check:format, check:filename, lint

chore(tsconfig.json): add `baseUrl` and `paths` for import alias
  tsconfig.json
Due: none

chore(vite.config.ts): add import alias config
  vite.config.ts
Due: check:format, check:filename, lint

chore(accounts): change to absolute path import
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/adaptor/repository/dummy.ts
  pkg/accounts/adaptor/repository/prisma.ts
  pkg/accounts/mod.ts
  pkg/accounts/model/account.test.ts
  pkg/accounts/model/account.ts
  pkg/accounts/model/follow.test.ts
  pkg/accounts/model/follow.ts
  pkg/accounts/model/inactiveAccount.test.ts
  pkg/accounts/model/inactiveAccount.ts
  pkg/accounts/model/repository.ts
  pkg/accounts/service/authenticate.test.ts
  pkg/accounts/service/authenticate.ts
  pkg/accounts/service/authenticationTokenService.test.ts
  pkg/accounts/service/authenticationTokenService.ts
  pkg/accounts/service/editAccount.test.ts
  pkg/accounts/service/editAccount.ts
  pkg/accounts/service/etagService.test.ts
  pkg/accounts/service/etagService.ts
  pkg/accounts/service/fetchAccount.test.ts
  pkg/accounts/service/fetchAccount.ts
  pkg/accounts/service/fetchAccountFollow.test.ts
  pkg/accounts/service/fetchAccountFollow.ts
  pkg/accounts/service/follow.test.ts
  pkg/accounts/service/follow.ts
  pkg/accounts/service/freeze.test.ts
  pkg/accounts/service/freeze.ts
  pkg/accounts/service/register.test.ts
  pkg/accounts/service/register.ts
  pkg/accounts/service/resendToken.test.ts
  pkg/accounts/service/resendToken.ts
  pkg/accounts/service/silence.test.ts
  pkg/accounts/service/silence.ts
  pkg/accounts/service/unfollow.test.ts
  pkg/accounts/service/unfollow.ts
  pkg/accounts/service/verifyToken.test.ts
  pkg/accounts/service/verifyToken.ts
Due: check:format, check:filename, lint

chore(id): change to absolute path import
  pkg/id/mod.ts
Due: check:format, check:filename, lint

chore(notes): change to absolute path import
  pkg/notes/adaptor/controller/note.ts
  pkg/notes/adaptor/repository/dummy.ts
  pkg/notes/mod.ts
  pkg/notes/model/bookmark.test.ts
  pkg/notes/model/bookmark.ts
  pkg/notes/model/note.test.ts
  pkg/notes/model/note.ts
  pkg/notes/model/repository.ts
  pkg/notes/router.ts
  pkg/notes/service/create.test.ts
  pkg/notes/service/create.ts
  pkg/notes/service/fetch.test.ts
  pkg/notes/service/fetch.ts
  pkg/notes/service/renote.test.ts
  pkg/notes/service/renote.ts
Due: check:format, check:filename, lint

chore(intermodule): change to absolute path import
  pkg/intermodule/account.ts
Due: check:format, check:filename, lint

chore: fix typo, outdated content at PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: check:format, lint

chore: fix typo, outdated content at PR template (#330)
  .github/PULL_REQUEST_TEMPLATE.md
Due: check:format, lint

fix: remove unnecessary export
  pkg/accounts/mod.ts
  pkg/intermodule/account.ts
Due: check:format, check:filename, lint

fix: make GetAcccountHandler non-exported function
  pkg/accounts/mod.ts
Due: check:format, check:filename, lint

feat: use hono rpc mode in intermodule interfaces (#324)
  pkg/accounts/mod.ts
  pkg/intermodule/account.ts
Due: check:format, check:filename, lint

chore(notes/adaptor/repository/dummy): use tuple as ID
  pkg/notes/adaptor/repository/dummy.ts
Due: check:format, check:filename, lint

fix(notes/repository/BookmarkRepository): BookmarkRepositoryの型定義およびダミー実装の修正 (#325)
  pkg/notes/adaptor/repository/dummy.ts
  pkg/notes/model/repository.ts
Due: check:format, check:filename, lint

fix(notes/model/repository): add missing `findByAccountID` definition
  pkg/notes/model/repository.ts
Due: check:format, check:filename, lint

feat(notes/service/createBookmark): implement CreateBookmarkService
  pkg/notes/service/createBookmark.test.ts
  pkg/notes/service/createBookmark.ts
Due: check:format, check:filename, lint

feat(notes/service/deleteBookmark): implement DeleteBookmarkService
  pkg/notes/service/deleteBookmark.test.ts
  pkg/notes/service/deleteBookmark.ts
Due: check:format, check:filename, lint

feat(notes/service/fetchBookmark): implement FetchBookmarkService
  pkg/notes/service/fetchBookmark.test.ts
  pkg/notes/service/fetchBookmark.ts
Due: check:format, check:filename, lint

fix(notes/service/fetchBookmark.test): fix invalid id in test case
  pkg/notes/service/fetchBookmark.test.ts
Due: check:format, check:filename, lint

feat(notes/service): implement Create, Delete, FetchBookmarkService (#334)
  pkg/notes/model/repository.ts
  pkg/notes/service/createBookmark.test.ts
  pkg/notes/service/createBookmark.ts
  pkg/notes/service/deleteBookmark.test.ts
  pkg/notes/service/deleteBookmark.ts
  pkg/notes/service/fetchBookmark.test.ts
  pkg/notes/service/fetchBookmark.ts
Due: check:format, check:filename, lint

feat(notes/adaptor/controller/bookmark): implement BookmarkController
  pkg/notes/adaptor/controller/bookmark.ts
Due: check:format, check:filename, lint

chore(notes/adaptor/controller/bookmark): improved code logic
  pkg/notes/adaptor/controller/bookmark.ts
Due: check:format, check:filename, lint

feat: 投稿ブックマークのControllerの実装 (#344)
  pkg/notes/adaptor/controller/bookmark.ts
Due: check:format, check:filename, lint

feat: use hono rpc at AccountModule.fetchAccount
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/accounts/router.ts
  pkg/intermodule/account.ts
  pkg/notes/adaptor/controller/note.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
  pkg/notes/service/fetch.ts
Due: check:format, check:filename, lint

fix: use vi.spyOn at fetch.test.ts
  pkg/notes/service/fetch.test.ts
  pkg/notes/service/fetch.ts
Due: check:format, check:filename, lint

fix: change handler variable name to id from name
  pkg/accounts/mod.ts
Due: check:format, check:filename, lint

feat!: use hono rpc at AccountModule.fetchAccount (#354)
  pkg/accounts/adaptor/controller/account.ts
  pkg/accounts/mod.ts
  pkg/accounts/router.ts
  pkg/intermodule/account.ts
  pkg/notes/adaptor/controller/note.ts
  pkg/notes/mod.ts
  pkg/notes/service/fetch.test.ts
  pkg/notes/service/fetch.ts
Due: check:format, check:filename, lint

feat: impl OAS API Document exporter
  apidoc.ts
  main.ts
  package.json
  resources/schema.json
Due: check:format, check:filename, lint

feat: impl OAS API Document exporter (#357)
  apidoc.ts
  main.ts
  package.json
  resources/schema.json
Due: check:format, check:filename, lint

Path conditions:
  check:format: any of: *.{js,ts,md}
  check:filename: any of: *.{js,ts}
  lint: any of: *.{js,ts,md}
