Repository pulsate-dev/pulsate: changes, and which lefthook commands are due for each by the changed paths.
All: check:format, check:filename, lint

check:format:
  run: pnpm run check:format

check:filename:
  run: pnpm run check:filename

lint:
  run: pnpm run lint

feat: impl get account uploaded media handler,services (#464)
  main.ts
  pkg/drive/adaptor/controller/drive.ts
  pkg/drive/adaptor/repository/dummy.ts
  pkg/drive/adaptor/validator/schema.ts
  pkg/drive/mod.ts
  pkg/drive/router.ts
  pkg/drive/service/fetch.test.ts
  pkg/drive/service/fetch.ts
  pkg/drive/service/upload.test.ts
  resources/schema.json
Due: check:format, check:filename, lint

ci: Add api reference report
  .github/workflows/ci.yaml
  main.ts
Due: check:format, check:filename, lint

fix: flaky tests, add InMemoryTimelineRepository tests
  pkg/timeline/adaptor/repository/dummy.test.ts
  pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/service/account.test.ts
Due: check:format, check:filename, lint

Update pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/adaptor/repository/dummy.ts
Due: check:format, check:filename, lint

fix: flaky tests, add InMemoryTimelineRepository tests (#553)
  pkg/timeline/adaptor/repository/dummy.test.ts
  pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/service/account.test.ts
Due: check:format, check:filename, lint

docs: Update repository readme
  AUTHORS.md
  LICENSE
  README.md
Due: check:format, lint

docs: Add link to spec
  CONTRIBUTING.md
  README.md
Due: check:format, lint

docs: fix link
  .github/PULL_REQUEST_TEMPLATE.md
  SECURITY.md
Due: check:format, lint

docs: Replace the language of the page url
  SECURITY.md
Due: check:format, lint

docs: Fix expression of the sentence
  CONTRIBUTING.md
Due: check:format, lint

docs: Add ActivityPub note
  README.md
Due: check:format, lint

docs: Update repository documents (#554)
  .github/PULL_REQUEST_TEMPLATE.md
  AUTHORS.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
Due: check:format, lint

feat: define List model
  pkg/timeline/model/list.test.ts
  pkg/timeline/model/list.ts
Due: check:format, check:filename, lint

fix: use Set in List model
  pkg/timeline/model/list.ts
Due: check:format, check:filename, lint

fix: add readonly attribute to member method, constructor args type
  pkg/timeline/model/list.ts
Due: check:format, check:filename, lint

chore(test): add testcase (initialize valid ate check)
  pkg/timeline/model/list.test.ts
Due: check:format, check:filename, lint

feat: define List model (#567)
  pkg/timeline/model/list.test.ts
  pkg/timeline/model/list.ts
Due: check:format, check:filename, lint

deps: remove `prettier` and `eslint` (and more plugins)
  package.json
  pnpm-lock.yaml
Due: none

chore: remove prettier and eslint config
  .ls-lint.yml
  .prettierrc
  eslint.config.js
  lefthook.yml
  tsconfig.json
Due: check:format, check:filename, lint

chore add biome config
  biome.jsonc
Due: none

chore: add biome plugin config
  .vscode/extensions.json
  .vscode/settings.json
Due: none

chore: add biome schema update managers
  .github/renovate.json
Due: none

ci: replace eslint and prettier to biome
  .github/workflows/build.yaml
  README.md
  pnpm-lock.yaml
Due: check:format, lint

chore: fix conflict lockfile
  pnpm-lock.yaml
Due: none

chore: fix lockfile
  pnpm-lock.yaml
Due: none

chore: Disable rule `noShadowRestrictedNames`
  biome.jsonc
Due: none

chore: Ignore rule `noNonNullAssertion`
  pkg/intermodule/account.ts
  pkg/timeline/adaptor/controller/timeline.ts
  pkg/timeline/adaptor/repository/dummyCache.ts
Due: check:format, check:filename, lint

chore: Fix rule `noUnreachableSuper`
  pkg/accounts/model/inactiveAccount.ts
Due: check:format, check:filename, lint

feat: impl `InMemoryListRepository`
  pkg/timeline/adaptor/repository/dummy.test.ts
  pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/model/repository.ts
Due: check:format, check:filename, lint

feat: impl `CreateListService`
  pkg/timeline/service/createList.test.ts
  pkg/timeline/service/createList.ts
Due: check:format, check:filename, lint

feat: define route, schemas, handler function
  main.ts
  pkg/timeline/adaptor/controller/timeline.ts
  pkg/timeline/adaptor/validator/timeline.ts
  pkg/timeline/mod.ts
  pkg/timeline/router.ts
Due: check:format, check:filename, lint

fix: coding styles
  pkg/timeline/adaptor/controller/timeline.ts
  pkg/timeline/model/repository.ts
Due: check:format, check:filename, lint

feat: move `ListRepository.fetchListTimeline` to `TimelineRepository`
  pkg/timeline/adaptor/repository/dummy.test.ts
  pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/adaptor/repository/prisma.ts
  pkg/timeline/model/repository.ts
Due: check:format, check:filename, lint

fix: use readonly array
  pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/adaptor/repository/prisma.ts
  pkg/timeline/model/repository.ts
  pkg/timeline/service/createList.ts
Due: check:format, check:filename, lint

chore(docs): update API schema
  resources/schema.json
Due: none

feat: impl CreateList API Endpoint (#577)
  main.ts
  pkg/timeline/adaptor/controller/timeline.ts
  pkg/timeline/adaptor/repository/dummy.test.ts
  pkg/timeline/adaptor/repository/dummy.ts
  pkg/timeline/adaptor/repository/prisma.ts
  pkg/timeline/adaptor/validator/timeline.ts
  pkg/timeline/mod.ts
  pkg/timeline/model/repository.ts
  pkg/timeline/router.ts
  pkg/timeline/service/createList.test.ts
  pkg/timeline/service/createList.ts
  resources/schema.json
Due: check:format, check:filename, lint

feat: Add `InMemoryNoteRepository`
  pkg/notes/adaptor/repository/dummy.ts
Due: check:format, check:filename, lint

feat: Add `Reaction` model
  pkg/notes/model/reaction.test.ts
  pkg/notes/model/reaction.ts
Due: check:format, check:filename, lint

Path conditions:
  check:format: any of: *.{js,ts,md}
  check:filename: any of: *.{js,ts}
  lint: any of: *.{js,ts,md}
